.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    padding: 15px 15px 15px 30px;
    color: #0B94D8;
}

.btn {
    padding: 6px 50px;
}

.btn-info {
    background-color: #0B94D8;
}


/* default container */

/* intro container */

.intro-container {
    background-image: url('../images/1.jpg');
    background-position: center center;
    background-size: cover;
    height: 250px;
    padding: 30px;
    text-align: center;
}

.intro-container .title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: #0B94D8;
}

.intro-container .intro {
    color: #000000;
}

.intro-container button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}


/* res container */

.res-container {
    padding: 30px
}

/* end default container */

/* */
#newPoll .btn-info {
 background-color: #FFFFFF;   
 color: black;
}