<!-- search polls -->
<section id="search" class="col-sm-offset-3 col-sm-6" ng-controller="PollSearchController">
    <div class="input-group search-container">                       
          <input type="text" class="form-control" placeholder="Search for polls !" aria-describedby="sizing-addon2" ng-model="searchText">
            <span class="input-group-btn">
               <button class="btn btn-secondary" type="button" ng-click="search()">Go!</button>
           </span>
    </div>
    
    <searchlist polls="searchResults"></searchlist>
    
</section>